@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700&display=swap&subset=latin-ext');

body{
  font-family: 'Montserrat', sans-serif;
}

.mono-color{
  color:#f24c4d !important
}

.mono-bg{
  background-color: #f24c4d !important ;
}

.page {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  min-height: calc(100vh - 56px);
}

// display-flex-space-between-center
.df-sbc{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
//
//// display-flex-center-center
.df-cc{
  display: flex;
  justify-content: center;
  align-items: center;
}

.cont{
  max-width: 960px;
  margin: auto;
}

#nav{
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  a{
    >span{
      text-transform: none;
      font-size: 0.9rem;
      font-weight: 400;
    }
    >img {
      display: block;
      margin: auto;
      height: 80px;
      border-radius: 0.5rem;
    }
  }
}

main.v-content {
  max-width: 700px;
}

.i-tab {
  min-height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 600px;
}




.home-content {
  padding: 2rem;
  text-align: center;
  >h1 {
    padding-bottom: 1rem;
  }
  >div {
    line-height: 1.5;
  }
}

.v-slide-group__content{
  justify-content: center;
}

form.form {
  background-color: white;
  margin: auto;
  padding: 2rem;
  //box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  border-radius: 1rem;
  .v-input{
    padding-top: 0;
  }
  &.login-form{
    max-width: 400px;
  }
  &.register-form{
    max-width: 600px;
  }
  .v-btn__content{
    text-transform: none;
  }
}

.i-tab{
  padding: 1rem;
}

a.active-url {
  color: white !important;
}

.v-dashboard{
  margin-top: 1rem;
  .v-tabs-bar__content {
    justify-content: center;
  }
}
body.guest.home .i-tab {
  flex-direction: column;
}

// float-right
.fr{
  display: flex;
  justify-content: flex-end;
}

.text-center{
  text-align: center;
}

.v-messages__message {
  color: red;
}

.error {
  color: red;
  text-align: center;
  font-weight: 400;
}

body.ibans .i-tab{
  display: block;
}

button.close-modal {
  background-color: transparent !important;
  position: absolute;
  right: -2.75rem;
  top: -0.5rem;
  box-shadow: none;
}

.i-form {
  position: relative;
  padding-top: 0.5rem;
}


.single-iban>ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.single-iban>ul>li {
  width: 500px;
  display: flex;
  border: 1px solid #efefef;
  border-bottom: none;
}

.single-iban>ul>li>span {
  padding: 0.5rem;
  text-align: left;
  float: left;
}

.single-iban>ul>li>span:first-child {
  text-align: left;
  font-weight: 500;
  width: 150px;
}

.single-iban>ul>li:last-child {
  border-bottom: 1px solid #efefef;
}

.single-iban__button {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
}

.profile-info {
  text-align: center;
}

.profile-info + div {
  display: flex;
  justify-content: center;
}

.profile-info>h1 {
  font-size: 1.5rem;
  font-weight: 500;
  border-bottom: 1px solid;
  margin-bottom: 0.5rem;
}

@media screen and (max-width: 576px) {
  .i-tab{
    width: 100%;
    >form{
      width: 100%;
    }
  }
  body.guest.home .i-tab{
    flex-direction: column;
  }
  form.v-form>.row {
    flex-direction: column;
    >div{
      padding-top: 0.25rem;
      padding-bottom: 0.25rem;
    }
  }
  .v-content__wrap{
    max-width: 100vw;
    >div{
      border: none !important;
    }
  }
  .home-content{
    padding: 1rem;
  }
  main.v-content{
    max-width: 100vw;
  }
  form.form{
    padding: 0.5rem;
    >.row{
      margin-left: 0;
      margin-right: 0;
    }
  }
}